body{ 
	margin: 0px;
}
#header{
	width: 100%;
	height: 100px;
	background-color: white;
}
.logo{
    float: left;
}
.barraricerca{
	border-radius: 10px;
	height: 50px;
	z-index: -9;
	width: 300px;
	float: right;
}
.lente{
	z-index: 9;
	margin-top: 8px;
	width: 35px;
	height: 35px;
	float: right;
	transform: translateX(-50px);
}
.titolo{
	margin-left: 200px;
	padding-top: 25px;
	font-family: 'Teko', sans-serif;
	font-size: 50px;
}
#menu{
	width: 100%;
	background-color:black;
	position: sticky;
	display: flex;
	justify-content: center;
	top: 0;
	z-index: 99;
}
#homepage{
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
}
#footer{
	position: bottom;
	background-color: black;
	height: 300px;
	width:100%;
}
#barra{
	transform: translateY(20px);
	cursor: pointer;
}
.titoli{
	font-family: 'Teko', sans-serif;
	text-align: center;
}
.bottoni{
	margin-left: 88px;
	cursor: pointer;
	width: 350px;
	height: 250px;
	margin-top: 25px;
	transition-duration: 1.5s;
}
.bottoni:hover{
	background-position: center;
	transform: scale(1.1);
}
hr{
	align-items: center;
	color:black;
	size: 800px;
	width: 900px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.eco{
	height: 20px;
	width: 30px;
}
.li{
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.brand{
	height: 50px;
	width: 180px;
	background-color: #b5bdbe;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 20px;
	border:1px solid black;
	cursor: pointer;
}
.brand:hover{
	box-shadow: 13px 13px 13px rgba(22, 19, 233, 0.4);
}
.img-brand{
	height: 45px;
}
#div1{
	width: 100%;
    height: 900px;
	background-image: url(camion-ibridi.jpg);
	align-items: center;
	display: flex;
	border: 1px solid rgb(0, 0, 0);
}
#div2{
	margin-bottom: 30px;
	width: 100%;
    height: 900px;
	background-image: url(camion-custom.jpg);
	align-items: center;
	display: flex;
	border: 1px solid rgb(0, 0, 0);
}
.ibridi{
	z-index: 9;
	border: 1px solid rgb(0, 0, 0);
	width: 400px;
    height: 300px;
	margin-left: 1365px;
	border-radius: 7%;
	background-color:rgba(100, 149, 237, 0.4);
}
.esposizione{
	z-index: 9;
	border: 1px solid rgb(0, 0, 0);
	background-color:rgba(255, 140, 0, 0.4);
	width: 410px;
    height: 350px;
	margin-left: 100px;
	border-radius: 7%;
}
.titoli2{
	font-family: 'Teko', sans-serif;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	opacity: 1;
}
.scritte{
	font-family: 'Teko', sans-serif;
	text-align: center;
	font-size: 25px;
}
.btt-custom{
	width: 100px;
	height: 40px;
	background-color:gold;
	font-family: 'Dancing Script', cursive;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border:1px solid black;
	border-radius: 10px;
	margin-left: 150px;
	cursor: pointer;
}
.btt-custom:hover{
	background-color:rgb(243, 88, 16);
}
/* inizio bottoni menu */
.btt1{
	background-color: black;
	height: 60px;
	width: 115px;
	font-size: 14;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	cursor: pointer;
	border: 0;
}
.btt1:hover{
	background-color: rgb(63, 62, 62);
}/* fine bottoni menu */

/* inizio bottoni dropdown menu */
.btt2{
	background-color: transparent;
	height: 20px;
	width: 106px;
	justify-content: center;
	display: flex;
	color: white;
	font-size: 14;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}/* fine bottoni dropdown menu */

/* inizio dropdown */
.dropdown{
	position: relative;
	display: inline-block;
	transform: translateY (20px);
	margin-right: 115px;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: black;
	min-width: 10px;
	z-index: 1;
	font-weight:bold;
}
.dropdown-content a{
	color: white;
	padding: 4px 4px;
	text-decoration: none;
	display: block;
	border:1px solid white;
}
.dropdown-content a:hover{
	background-color: black;
	text-decoration: none;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown:hover .dropbtn{
	background-color: black;
}/* fine dropdown */

/* inizio flexbox */
.flex-container{
  	flex-direction:row;
  	flex-wrap: wrap;
  	justify-content: flex-start;
  	padding: 0;
  	margin: 0;
  	list-style: none;
}
.flex-item{
	padding: 5px;
	width: 100px;
	height: 50px;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
}/* fine flexbox */

/* inzio slide image */
.slide{
    display: none;
    background-size: contain;
    width: 100%;
    height: 750px;
    object-fit: cover;
}
.slide-btn-forward{
    padding: 10px;
    transform: translate(0px, -125px);
    float: right;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bolder;
    border: 2px solid white;
}
.slide-btn-back{
    padding: 10px;
    transform: translate(0px, -125px);
    float: left;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bolder;
    border: 2px solid white;
}
.slide-btn-forward:hover{
    background-color: rgba(0, 0, 0, 1);
}
.slide-btn-back:hover{
    background-color: rgba(0, 0, 0, 1);
}/* fine slide image */

/*------------------footer----------------------*/
ul{
	list-style: none;
	padding-left: 0;
}
.foot{
	background-color:#000000;
	color: #bbb;
	line-height: 1.5;
}
.foot a{
	text-decoration: none;
	color: #eee;
}
a:hover{
	text-decoration: underline;
}
.ft-title{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
}
.ft-scritte{
	font-family: 'Roboto', sans-serif;
}
.container{
	margin-top:50px;
}
/* Footer main */
.ft-main{
	display: flex;
	flex-wrap: wrap;
	padding-top:60px;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	justify-content: space-evenly;
	}
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	justify-content: space-evenly;
	}
}
.ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
}
/* Footer legal */
.ft-legal {
	padding: 0.9375rem 1.875rem;
	background-color: #000000;
}
.ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
	flex: 1;
}